<div class="flex flex-wrap justify-between">
  {{ if and .GitInfo .Site.Params.BookRepo }}
  <div>
    {{- $date := partial "docs/date" (dict "Date" .GitInfo.AuthorDate.Local "Format" .Site.Params.BookDateFormat) -}}
    {{- $commitPath := default "commit" .Site.Params.BookCommitPath -}}
    <a class="flex align-center" href="{{ .Site.Params.BookRepo }}/{{ $commitPath }}/{{ .GitInfo.Hash }}" title='{{ i18n "Last modified by" }} {{ .GitInfo.AuthorName }} | {{ $date }}' target="_blank" rel="noopener">
      <img src="{{ "svg/calendar.svg" | relURL }}" class="book-icon" alt="Calendar" />
      <span>{{ $date }}</span>
    </a>
  </div>
  {{ end }}

  {{ if and .File .Site.Params.BookRepo .Site.Params.BookEditPath }}
  <div>
    <a
      class="flex align-center"
      href="{{ .Site.Params.BookRepo }}/issues/new?assignees=ikesnowy&labels=BUG&template=----.md&title=%5BBUG%5D{{ .Title }}"
      target="_blank"
      rel="noopener"
    >
      <img src="{{ "svg/bug-report.svg" | relURL }}" class="book-icon" alt="Edit" />
      <span>{{ i18n "Bug report" }}</span>
    </a>
  </div>
  {{ end }}
</div>

{{ $script := resources.Get "clipboard.js" | resources.Minify }}
{{ with $script.Content }}
<script>
  {{ . | safeJS }}
</script>
{{ end }}
